@font-face { /*Para añadir una fuente externa*/
    font-family: "Buda", serif;
    src: url("../fuentes/Buda-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: #0A1F44;
    font-family: 'Arial', serif;
    margin: 0;
    padding: 0;
    color:#FFFFFF;/*texto en blanco*/
}
*{
    box-sizing: border-box;
}
header , nav , main,article, aside , footer{
    margin: 10px;
    padding: 15px;
    border:2px solid transparent;
}
header {
    background-image: url("../images/ucl_branding.webp");

    background-repeat: no-repeat; /*No repite la imagen*/
    background-size: cover; /*Para cubrir el fondo completo*/
    background-position: center; /*Para centrar la imagen*/
    padding: 22px;
}


.titulo{/*El titulo con fuente externa BUDA y sombra*/
    text-align: center;
    font-size: 45px;
    margin:20px 0px;
    font-family:"Buda",Arial,serif ;
    font-weight: bold;
    color:#FFD700;
    text-shadow: 2px 2px 8px #000;/*Para dar sombra al texto*/
}
.titulo::before{
    content: "⚽";
    font-size: 45px;
    color:#FFD700;
}

.menu {
    width: 100%;
    background-color: #1E3A8A;
    padding: 15px;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Aquí se centra */
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold; /*negrita*/
    transition: color 0.3s, transform 0.3s; /* Cuando el raton pase por lo alto de cambiara de color en 0.3 seg */
}

.menu a:hover {
    color: #FFD700;          /* cambio de color al pasar por lo alto*/
    text-decoration: underline; /* subraya el enlace */
    transform: scale(1.1);      /* aumenta el tamaño del enlance */
}

.contenido {
    display: grid;
    grid-template-columns: 3fr 1fr; /*Diferencia de tamaño entre columnas*/
    gap: 20px;
    padding: 20px;
}
.contenido article{
    background-color: #1E3A8A;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #000;/*Agrega sombra al article*/
}
.contenido aside{
    background-color:#FFD700;
   opacity: 0.8;/*Para dar un poco de transparencia al aside*/
    padding: 20px;
    border-radius: 8px;/*Rodea las esquinas del aside*/
    color: #000000;

}
.contenido aside ul{
    justify-content: center;

}
.contenido aside h3{
    justify-content: center;
    text-align: center;
}
.contenido-clubes {
    display: block;
    padding: 20px;
}


.contenido-clubes  {
    padding: 0;
    border: none;
}


.contenido-clubes  {
    margin-top: 20px;
    padding: 0;
    border: none;
}
.contenido-clubes caption{
    color: #FFFFFF;
}

.tabla-horarios {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
    color: #000000;
}

.tabla-horarios th,
.tabla-horarios td {
    border: 1px solid #1E3A8A;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
.tabla-horarios tbody tr:nth-child(even) {/*selecciona las filas pares */
    background-color: #e6f0ff;
}
.tabla-horarios tbody tr:nth-child(odd) {/*selecciona filas inpares*/
    background-color: #ffffff;
}
